@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Alegreya Sans', sans-serif;

}

body{
     font-family: 'Alegreya Sans', sans-serif;
}

p,ul {
    color: #6991AC;
    font-size: 110%;
    line-height: 120%;
    text-align: justify;
    padding-left: 53px;
}

ul {
    list-style-type: none;
}


h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;

}

section {
    min-height: 230px;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #fafafa;
}

#banner {
    max-width: 100%;
}

#logo {
    margin: 10px 0 20px 53px;
}

.icon-large,
#signpost-icon {
    font-size: 750%;
    text-align: center;
    float: right;
    margin: 0 auto;
    width: 50%;
    padding-top: 25px;
}

.icon-large {
    color: #F16D6B;
}

#signpost-icon{
    color: #FFFFFF;
}

#locations {
    background: url(https://i.imgur.com/JOw5DVD.jpg);
}

#times {
    float: right;
    width: 50%;
    color: #ffffff;
}

#times ul p {
    font-size: 100%;
    color: #ffffff;
    padding: 3px;
}


.social_networks {
    text-align: center;
    padding-left: 0;
    width: 100%;

}

.social_networks li {
    display: inline;
}

.social_networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #6991AC;
}