@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato;
}


 #banner, #menu{
     line-height: 75px;
}

.banner{
    float:left;
    font-family: Oswald;
    font-size: 280%;
    letter-spacing: 4px;
    color: #555555;
    margin-left: 55;
    padding:0;
}



 nav li {
    float: right;
    margin:0;
    padding:0;
} 

 nav > ul li{
    margin-right: 30px
} 



 nav a {
     text-decoration: none;
     font-size: 20px;
     letter-spacing: 4px;
     color: #777777;
 }  

nav a:hover {
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}


 .outer-div
{
  height: 600px;
  width: 100%;
  overflow: hidden;
  /* padding: 0;
  margin:0; */
}

#cover-image
{
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background: url(../img/form-bg.png) no-repeat center center;
  /* padding: 0;
  margin:0; */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Oswald;
    color: #ffffff;
    background-color: rgba(241, 109, 107, .7);
    padding: 20 50 30 15;
   
    text-transform: uppercase;
    letter-spacing: 4px;
    position:absolute;

  top: 360px;
  right: 145px;
  width: 280px;
  height: 200px;
     
}


ul {
    font-size: 110%;
    line-height: 120%;
    text-align: justify;
}

ul {
    list-style-type: none;
}



h2 {
    padding: 10 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}


#club-ethos { 
    height: 600px;
    
}


section {
    
     /* min-height: 600px; */
}

#welcome{
    /* padding-top: 30px; */
    margin: 50 0 50 0;
    font-family: Oswald;
    font-size: 280%;
    letter-spacing: 3px;
    color: #555555;
    text-align: center; 
}


#times {
    background-image: url(../img/DublinDocklands.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    /* margin: 0; */
    overflow: hidden;
}



#times div{
    color:#fafafa;
    background-color:rgba(0,0,0, .6);      
    width: 19%;
    height: 300px;
    margin-left: 4px; 
    float:left;
    padding: 30 0 0 10;
    text-align: center;
    }

    #times div h2{
        color:#fafafa;
    }


    .day{
        text-align: center;
    }


i{
 margin-left: 5px;
}

footer{
    height: 150px;
}
.social-networks {
  
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

/* gallery */




  /* Contact Form */

  #form-section{
    padding: 30 0;
    clear: both;
    background: url(../img/form-bg2.png);
    /* background: url(../img/LoveRunning2019.png); */
    /* opacity:.9; */
    background-size: cover;
  background-position: center;
  height: 600px;
}

#form-container{
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    /* background-color: rgba(241, 109, 107, .9); */
    width: 30%;
    margin: 0 auto;
    padding: 30px;
}



.sub-heading {
    margin-top: 35px;
    line-height: 10%;
  }
  
  .signup-form {
    margin-top: 35px;
  }
  
   label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    padding:0;
  }
  
   .text-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
  }
  
   input:hover, input:focus {
    border-color: #fff;
  }
  
  legend{
      margin-bottom: 15px;
  }
  
  .running-preferences{
      width: 100%;
      margin-bottom:20px;
      padding: 0;
  }

  .preference-label{
      margin: 10 5 30 5;
  }
  
  
  .join-button {
      border-radius: 3px;
      color:#999999;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;

  }

/* End Contact Form */


#photos {
    clear: both;
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           3 px;  
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }

  /* end gallery */



  p{
    font-size: 90%;
}

h2{
    text-transform:uppercase;
    font-family: Oswald;
    letter-spacing: 4px;
    color: #666666;
}

    #circle-container{
        width: 300px;
        height: 300px;
        padding: 30px;  
        border-style: solid;
        border-color: #cccccc;
        border-width:1px;
        border-radius: 50%;
        margin:0 auto;
    }

     #circle-cover-bg{
        position: relative;
        background:url(../img/video-mask.png) no-repeat center center;
        border-radius: 50%;
        height: 100%;
    }



    #left-about{
        padding-top: 30px;
        width:33%;
        float:left;
    }

    #center-about{
        width:33%;
        margin: auto;
    }

    #right-about{
        padding-top: 30px;
        width:33%;
        float:right;
       
    }

    

    .left-about-heading{
        width: 50%;
        float:right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }



    .right-about-heading{
        width: 50%;
        float:left; 
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    hr {
      border:0;
      padding:0;  
    border-top: 1px solid #cccccc;
    width: 250px;
    margin-top:0;
    margin-bottom: 5px;
    vertical-align: middle;
}

.right-about-heading h2 
{
    float:right;
}


.right-about-heading hr,
.right-about-heading p{
    float:right;
}



.right-about-heading p{
    text-align: right; 
}


 
@media screen and (max-width: 768px) {
    
    #menu{
        clear: both;
        margin:0;
        padding: 0;
    }

    nav {
      float: left;
       margin-left: 55px;
    }

    
    
    .activities{
    
        width: 100%;
    }
    

    p {
        padding: 0 53px 20px 0px;
        
    }

    .social-networks i {
        font-size: 80%;
    }

    #form-container{
        width: 70%;
    }

}


@media screen and (max-width: 500px) {

    .outer-div
{
  height: 550px;
  
}
    
    #welcome{
        /* padding-top: 30px; */
        margin-top: 0;
    }



    #times div{
        width: 100%;
        clear: both;
        height: 150px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;
    }


#cover-image
{
 height: 500px;
  background-size: cover;
  background-position: center;
  background: url(../img/form-bg.png) no-repeat ;
  
}
    #cover-text{
        left: 0px; 
    }



    #left-about, 
    #right-about,
    #center-about
    {
        width: 100%;
        float: left;
        margin:0;
        padding: 0;

    }

    #center-about{
        margin-bottom: 30px;
        margin-top: 0px;
    }


    .left-about-heading,
    .right-about-heading
    {
        width: inherit;
        
    }


.right-about-heading h2,
.left-about-heading h2
{
    width: 100%;
    text-align: center;
}

.left-about-heading p,
.left-about-heading p
{
    /* this is a hack - need to fix */
   text-align: right; 
}

hr{
    width:0%;
}




}


/*masonary */
@media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  /* @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  } */